@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <form action="save" enctype="multipart/form-data" onsubmit="TodoSubmit(this);return false;" method="post">
                <div class="row">
                    <div class="col-8">
                        <dl>
                            <dt>
                                <label for="Name">Todo</label>
                            </dt>
                            <dd>
                                <input type="text" id="Name" name="Name" placeholder="Name" />
                            </dd>
                            <dt>
                                <label for="FormFile">File</label>
                            </dt>
                            <dd>
                                <input id="FormFile" type="file" 
                                    name="FormFile" accept=".jpg,.jpeg,.webp,.png,image/*" />
                            </dd>                            
                        </dl>

                    </div>
                    <div class="col-4">
                        <input type="submit" id="sendButton" value="Add Todo" />
                        <input type="button" id="clearButton" value="Clear Todos" />
                        <input type="button" id="subscribeButton" value="Subscribe" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
        <div class="col-6">
            <div id="log">

            </div>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/todo.js"></script>